In [4]:
import requests
import time
import pandas as pd
from urllib.parse import quote

## Load

In [ ]:
try:
    df = pd.read_csv('data.csv', encoding='utf-8', delimiter=";", on_bad_lines='skip')
except pd.errors.ParserError as e:
    print(f"Error reading CSV: {e}")
    # You might want to add additional error handling here
else:
    # Convert the address column to a list, replacing NaN with None
    address = df['Adressen'].where(pd.notnull(df['Adressen']), None).tolist()

## Geoapify

API key: https://myprojects.geoapify.com/api/3W0v87z2UZZdXWN18tMj/keys

In [ ]:
API_KEY = "b3ed76d80c994bc1afc5a77463501e7d"

# Function to geocode an address
def geocode_address(address):
    if address is None or pd.isna(address):
        return None, None
    
    url = f"https://api.geoapify.com/v1/geocode/search?text={address}&apiKey={API_KEY}"
    
    try:
        response = requests.get(url)
        data = response.json()
        
        if data['features']:
            coordinates = data['features'][0]['geometry']['coordinates']
            return coordinates[1], coordinates[0]  # Return latitude, longitude
        else:
            return None, None
    except Exception as e:
        print(f"Error geocoding address '{address}': {str(e)}")
        return None, None

# Create new columns for latitude and longitude
df['latitude_geoapify'] = None
df['longitude_geoapify'] = None

for index, row in df.iterrows():
    address = row['Adressen']  # Change 'address' to 'Adressen'
    lat, lon = geocode_address(address)
    df.at[index, 'latitude_geoapify'] = lat
    df.at[index, 'longitude_geoapify'] = lon
    
    # Add a small delay to avoid hitting API rate limits
    time.sleep(0.1)

df.head()

In [ ]:
df.to_csv('data.csv', index=False)

## Openstreetmap

In [10]:
# Function to geocode an address using Nominatim
def geocode_address(address):
    if address is None or pd.isna(address):
        return None, None
    
    # URL encode the address
    encoded_address = quote(address)
    url = f"https://nominatim.openstreetmap.org/search?q={encoded_address}&format=json&limit=1"
    
    headers = {
        'User-Agent': 'YourAppName/1.0'  # Replace with your app name
    }
    
    try:
        response = requests.get(url, headers=headers)
        data = response.json()
        
        if data:
            return float(data[0]['lat']), float(data[0]['lon'])
        else:
            return None, None
    except Exception as e:
        print(f"Error geocoding address '{address}': {str(e)}")
        return None, None

# Create new columns for latitude and longitude
df['latitude_openstreetmap'] = None
df['longitude_openstreetmap'] = None

for index, row in df.iterrows():
    address = row['Adressen']
    lat, lon = geocode_address(address)
    df.at[index, 'latitude_openstreetmap'] = lat
    df.at[index, 'longitude_openstreetmap'] = lon
    
    # Add a delay to comply with Nominatim's usage policy
    time.sleep(1)

df.head()

  Grundbuchamt/ Ort               Anlage   Kaufpreis Seite       Verkäufer:  \
0          Dortmund   Anlage 1.1.1(a)(i)  500.000,00     1  ThyssenKrupp AG
1          Dortmund   Anlage 1.1.1(a)(i)  500.000,00     1  ThyssenKrupp AG
2            Altena   Anlage 1.1.1(a)(i)  500.000,00     2  ThyssenKrupp AG
3            Altena   Anlage 1.1.1(a)(i)  500.000,00     2  ThyssenKrupp AG
4            Altena   Anlage 1.1.1(a)(i)  500.000,00     2  ThyssenKrupp AG

  Grundbuchblatt   Bezirk       Eigentümer  Rechtsnachfolger   \
0  nicht genannt  Dortmund    nicht genannt     nicht genannt
1  nicht genannt  Dortmund    nicht genannt     nicht genannt
2           5921   Werdohl  ThyssenKrupp AG   ThyssenKrupp AG
3           5921   Werdohl  ThyssenKrupp AG   ThyssenKrupp AG
4           5921   Werdohl  ThyssenKrupp AG   ThyssenKrupp AG

      Ifd. Nummer   ... Amnmerkungen Bodenrichtwert 2016   \
0  nicht erkennbar  ...                               NaN
1  nicht erkennbar  ...                               NaN
2                3  ...                               NaN
3                4  ...                               NaN
4                5  ...                               NaN

  Grundstückspreise auf basis Bodenrichtwerte 2016  \
0                                       247.600,00
1                                       463.440,00
2                                        42.370,00
3                                        39.615,00
4                                        41.515,00

                      Adressen comment             Nutzung laut Thelen   \
0            GFMC+986 Dortmund     NaN     Entwicklungsflächen Gewerbe
1            GFMC+9JP Dortmund     NaN      Entwicklungsflächen Gewerbe
2  Ginsterweg 4, 58791 Werdohl     NaN  Erbbaurecht Wohnen und Gewerbe
3  Ginsterweg 6, 58791 Werdohl     NaN  Erbbaurecht Wohnen und Gewerbe
4  Ginsterweg 8, 58791 Werdohl     NaN  Erbbaurecht Wohnen und Gewerbe

  Unnamed: 26 Unnamed: 27 Unnamed: 28 latitude_2 longitude_2
0         NaN         NaN         NaN       None        None
1         NaN         NaN         NaN       None        None
2         NaN         NaN         NaN  51.264037    7.769069
3         NaN         NaN         NaN  51.263966    7.769288
4         NaN         NaN         NaN  51.263942    7.769422

[5 rows x 31 columns]

In [12]:
df.to_csv('data.csv', index=False)

## Arcgis

In [13]:
# Function to geocode an address using ArcGIS World Geocoding Service
def geocode_address(address):
    if address is None or pd.isna(address):
        return None, None
    
    url = "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates"
    
    params = {
        'f': 'json',
        'singleLine': address,
        'outFields': 'Match_addr,Addr_type'
    }
    
    try:
        response = requests.get(url, params=params)
        data = response.json()
        
        if data['candidates']:
            location = data['candidates'][0]['location']
            return location['y'], location['x']  # Return latitude, longitude
        else:
            return None, None
    except Exception as e:
        print(f"Error geocoding address '{address}': {str(e)}")
        return None, None

# Create new columns for latitude and longitude
df['latitude_arcgis'] = None
df['longitude_arcgis'] = None

for index, row in df.iterrows():
    address = row['Adressen']
    lat, lon = geocode_address(address)
    df.at[index, 'latitude_arcgis'] = lat
    df.at[index, 'longitude_arcgis'] = lon
    
    # Add a small delay to avoid hitting API rate limits
    time.sleep(0.1)

df.head()

,Grundbuchamt/ Ort,Anlage,Kaufpreis,Seite,Verkäufer:,Grundbuchblatt,Bezirk,Eigentümer,Rechtsnachfolger,Ifd. Nummer,...,Adressen,comment,Nutzung laut Thelen,Unnamed: 26,Unnamed: 27,Unnamed: 28,latitude_2,longitude_2,latitude_3,longitude_3
0,Dortmund,Anlage 1.1.1(a)(i),"500.000,00",1,ThyssenKrupp AG,nicht genannt,Dortmund,nicht genannt,nicht genannt,nicht erkennbar,...,GFMC+986 Dortmund,NaN,Entwicklungsflächen Gewerbe,NaN,NaN,NaN,None,None,51.514171,7.464165
1,Dortmund,Anlage 1.1.1(a)(i),"500.000,00",1,ThyssenKrupp AG,nicht genannt,Dortmund,nicht genannt,nicht genannt,nicht erkennbar,...,GFMC+9JP Dortmund,NaN,Entwicklungsflächen Gewerbe,NaN,NaN,NaN,None,None,51.514171,7.464165
2,Altena,Anlage 1.1.1(a)(i),"500.000,00",2,ThyssenKrupp AG,5921,Werdohl,ThyssenKrupp AG,ThyssenKrupp AG,3,...,"Ginsterweg 4, 58791 Werdohl",NaN,Erbbaurecht Wohnen und Gewerbe,NaN,NaN,NaN,51.264037,7.769069,51.26406,7.769085
3,Altena,Anlage 1.1.1(a)(i),"500.000,00",2,ThyssenKrupp AG,5921,Werdohl,ThyssenKrupp AG,ThyssenKrupp AG,4,...,"Ginsterweg 6, 58791 Werdohl",NaN,Erbbaurecht Wohnen und Gewerbe,NaN,NaN,NaN,51.263966,7.769288,51.263999,7.769309
4,Altena,Anlage 1.1.1(a)(i),"500.000,00",2,ThyssenKrupp AG,5921,Werdohl,ThyssenKrupp AG,ThyssenKrupp AG,5,...,"Ginsterweg 8, 58791 Werdohl",NaN,Erbbaurecht Wohnen und Gewerbe,NaN,NaN,NaN,51.263942,7.769422,51.263965,7.769436

In [ ]:
df.to_csv('data.csv', index=False)

## Google Maps

API key: https://console.cloud.google.com/apis/credentials?hl=de&project=geoencoding-436911

In [14]:
# Your API key
API_KEY = 'AIzaSyAxXHJ4RU26QBNPlKmtl0SnHlK0wvXxUHU'

# Read the CSV file
df = pd.read_csv('data.csv', encoding='utf-8', delimiter=";", on_bad_lines='skip')

def geocode_address(address):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={API_KEY}"
    
    try:
        response = requests.get(url)
        data = response.json()
        
        if data['status'] == 'OK':
            location = data['results'][0]['geometry']['location']
            return location['lat'], location['lng']
        else:
            return None, None
    except Exception as e:
        print(f"Error geocoding address '{address}': {str(e)}")
        return None, None

# Create new columns for latitude and longitude
df['latitude_googlemaps'] = None
df['longitude_googlemaps'] = None

for index, row in df.iterrows():
    address = row['Adressen']
    lat, lon = geocode_address(address)
    df.at[index, 'latitude_googlemaps'] = lat
    df.at[index, 'longitude_googlemaps'] = lon
    
    # Add a delay to comply with usage limits
    time.sleep(0.1)

df.head()

  Grundbuchamt/ Ort               Anlage   Kaufpreis Seite       Verkäufer:  \
0          Dortmund   Anlage 1.1.1(a)(i)  500.000,00     1  ThyssenKrupp AG
1          Dortmund   Anlage 1.1.1(a)(i)  500.000,00     1  ThyssenKrupp AG
2            Altena   Anlage 1.1.1(a)(i)  500.000,00     2  ThyssenKrupp AG
3            Altena   Anlage 1.1.1(a)(i)  500.000,00     2  ThyssenKrupp AG
4            Altena   Anlage 1.1.1(a)(i)  500.000,00     2  ThyssenKrupp AG

  Grundbuchblatt   Bezirk       Eigentümer  Rechtsnachfolger   \
0  nicht genannt  Dortmund    nicht genannt     nicht genannt
1  nicht genannt  Dortmund    nicht genannt     nicht genannt
2           5921   Werdohl  ThyssenKrupp AG   ThyssenKrupp AG
3           5921   Werdohl  ThyssenKrupp AG   ThyssenKrupp AG
4           5921   Werdohl  ThyssenKrupp AG   ThyssenKrupp AG

      Ifd. Nummer   ... Amnmerkungen Bodenrichtwert 2016   \
0  nicht erkennbar  ...                               NaN
1  nicht erkennbar  ...                               NaN
2                3  ...                               NaN
3                4  ...                               NaN
4                5  ...                               NaN

  Grundstückspreise auf basis Bodenrichtwerte 2016  \
0                                       247.600,00
1                                       463.440,00
2                                        42.370,00
3                                        39.615,00
4                                        41.515,00

                      Adressen comment             Nutzung laut Thelen   \
0            GFMC+986 Dortmund     NaN     Entwicklungsflächen Gewerbe
1            GFMC+9JP Dortmund     NaN      Entwicklungsflächen Gewerbe
2  Ginsterweg 4, 58791 Werdohl     NaN  Erbbaurecht Wohnen und Gewerbe
3  Ginsterweg 6, 58791 Werdohl     NaN  Erbbaurecht Wohnen und Gewerbe
4  Ginsterweg 8, 58791 Werdohl     NaN  Erbbaurecht Wohnen und Gewerbe

  Unnamed: 26 Unnamed: 27 Unnamed: 28 latitude_4 longitude_4
0         NaN         NaN         NaN  51.513587    7.465298
1         NaN         NaN         NaN  51.513587    7.465298
2         NaN         NaN         NaN  51.264048    7.769034
3         NaN         NaN         NaN  51.264138    7.769517
4         NaN         NaN         NaN  51.263957    7.769351

[5 rows x 31 columns]

In [15]:
df.to_csv('data.csv', index=False)

,Grundbuchamt/ Ort,Anlage,Kaufpreis,Seite,Verkäufer:,Grundbuchblatt,Bezirk,Eigentümer,Rechtsnachfolger,Ifd. Nummer,...,Amnmerkungen Bodenrichtwert 2016,Grundstückspreise auf basis Bodenrichtwerte 2016,Adressen,comment,Nutzung laut Thelen,Unnamed: 26,Unnamed: 27,Unnamed: 28,latitude_4,longitude_4
0,Dortmund,Anlage 1.1.1(a)(i),"500.000,00",1,ThyssenKrupp AG,nicht genannt,Dortmund,nicht genannt,nicht genannt,nicht erkennbar,...,NaN,"247.600,00",GFMC+986 Dortmund,NaN,Entwicklungsflächen Gewerbe,NaN,NaN,NaN,51.513587,7.465298
1,Dortmund,Anlage 1.1.1(a)(i),"500.000,00",1,ThyssenKrupp AG,nicht genannt,Dortmund,nicht genannt,nicht genannt,nicht erkennbar,...,NaN,"463.440,00",GFMC+9JP Dortmund,NaN,Entwicklungsflächen Gewerbe,NaN,NaN,NaN,51.513587,7.465298
2,Altena,Anlage 1.1.1(a)(i),"500.000,00",2,ThyssenKrupp AG,5921,Werdohl,ThyssenKrupp AG,ThyssenKrupp AG,3,...,NaN,"42.370,00","Ginsterweg 4, 58791 Werdohl",NaN,Erbbaurecht Wohnen und Gewerbe,NaN,NaN,NaN,51.264048,7.769034
3,Altena,Anlage 1.1.1(a)(i),"500.000,00",2,ThyssenKrupp AG,5921,Werdohl,ThyssenKrupp AG,ThyssenKrupp AG,4,...,NaN,"39.615,00","Ginsterweg 6, 58791 Werdohl",NaN,Erbbaurecht Wohnen und Gewerbe,NaN,NaN,NaN,51.264138,7.769517
4,Altena,Anlage 1.1.1(a)(i),"500.000,00",2,ThyssenKrupp AG,5921,Werdohl,ThyssenKrupp AG,ThyssenKrupp AG,5,...,NaN,"41.515,00","Ginsterweg 8, 58791 Werdohl",NaN,Erbbaurecht Wohnen und Gewerbe,NaN,NaN,NaN,51.263957,7.769351